/* 柿原担当 */
body{
    background-color: rgb(170, 230, 230);
}
.title{
    text-align: center;
    font-size: 15pt;
    color: rgb(3, 103, 40);
}
p{
    text-align: center;
}
.move{
    margin: auto;
    padding: 200;
    width: 20%;
    height: 50%;
    background-color: aquamarine;
    outline: dashed 1.5px black;
}
#canvas_wrapper{
	width:800px;
	margin:0 auto;
}
.footer{
    text-align: center;
    font-size: 10pt;
    color: gray;
}
.explain{
    text-align: center;
}